<!DOCTYPE html>
<html lang="en">
<title> Data Collector App</title>

<head>
    <link href="../static/main.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Maintaining the balance</h1>
        <h3>Pick a number from 1 to 100, in order to maintain the average value equal to 50.</h3>
        <h3>The average is calculated using your picked value along with all the previously entred values by various
            users</h3>
        <h3>But the catch is you don't know what is the current average value </h3>
        <h3>Let's see how well you know your fellow humans</h3>
        <form action="success.html" method="POST">
            <input title="Your email will be safe with us" placeholder="Enter your email address" type="email"
                name="email_name" required> <br>
            <input title="Guess a number" placeholder="Enter the number from 1 to 100" type="number" min="1" , max="100"
                name="number_name" required> <br>
            <button type="submit"> Submit </button>
        </form>
    </div>
</body>

</html>